:root {
    font-size: 62.5%;
    --primary-color: #18216d;
    --primary-color1: #fff;
    --primary-color2:#00ECD0; 
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
h1{
    display:none;
}
.metting{
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 12px;
    color:var(--primary-color);
    margin: 0;
}
.div1{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.div2{
    margin-left: 1.6rem;
    margin-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.menu{
    border: 0;
    background: none;
    margin: 0;
}
header{
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
}
h2{
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1;
    color:var(--primary-color);
    text-align: center;
    margin: 0;
}
.h21{
    font-size: 2.8rem;
    margin-left: 4.2rem;
    margin-right: 4.2rem;
}
.h31{
    font-size: 1.5rem;
    color: var(--primary-color);
    line-height: 2.3rem;
    text-align: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
}
a{
    text-decoration: none;
}
.a1{
    display: block;
    text-align: center;
    font-size: 1.4rem;
    padding: 1.6rem;
    padding-top: 1.2rem ;
    padding-bottom:1.2rem;
    line-height: 1.6rem;
    max-width: 8.8rem;
    background: var(--primary-color2);
    color: var(--primary-color);
    margin-left: auto;
    margin-right: auto;
    border-radius: .8rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
}
.people{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 6.6rem;
}
.h22{
    margin-bottom: 4.5rem;
}
.h32{
    color:var(--primary-color);
    font-size: 2rem;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 0;
}
.ticket{
    margin-left: 3rem;
    display:block;
}
h4{
    color: var(--primary-color);
    padding-bottom: 6rem;
    font-size: 1.4rem;
    line-height: 1;
    font-weight: 200;
}
.div3{
    margin-left: 3rem;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
}
.wrapper {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.a1440{
    display:none;
}


.people2{
    display:none;
}

fieldset{
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--primary-color);
    margin-bottom: 4rem;
}

@media (min-width:1440px){
    .a1440{
        display: flex;
        font-size: 1.8rem;
        color: var(--primary-color);

    }
    .menu{
        display: none;
    }
    .divheader{
        align-items: center;
        gap:5rem;
        display: flex;
        flex-direction: row;
    }
    .divheader2{
        gap:70rem;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .download{
        display: block;
        text-align: center;
        font-size: 1.4rem;
        padding: 1.6rem;
        padding-top: 1.2rem ;
        padding-bottom:1.2rem;
        line-height: 1.6rem;
        max-width: 8.8rem;
        background: var(--primary-color);
        color: var(--primary-color1);
        margin-left: auto;
        margin-right: auto;
        border-radius: .8rem;
    }
    .download:hover{
        min-width: 10rem;
        font-size: 1.8rem;
        transition-duration: .9s;
    }
    .metting{
        font-size: 2rem;
    }
    .div5{
        display:flex;
        flex-direction: column;
        margin-left: 21rem;
        align-items: flex-start;
    }
    .a1{
        margin-left: 0;
        font-size: 1.7rem;
        max-width: 12rem;
        padding:2rem;
    }
    .h21{
        margin-left: 0;
        font-size: 4.8rem;
        text-align: left;
    }
    .h31{
        margin-left: 0;
        font-size: 1.8rem;
        text-align: left;
    }
    .people{
        display: none;
    }
    .people2{
        display: flex;
    }
    .div6{
        align-items: center;
        display: flex;
        flex-direction: row ;
    }
    .h22{
        font-size: 4.8rem;
    }
    .div7{
        width:45rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .h32{
        font-size: 2.4rem;
    }
    h4{
        font-size: 1.6rem;
    }
    .ticket{
        width: 7.2rem;
    }
}