:root {
    font-size: 62.5%;
    --primary-color: #000;
    --primary-color1: #fff;
    --primary-color2: #678ff2;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    margin-left: auto;
}

body {
    margin-left: auto;
    background: var(--primary-color2);
}


.cloud {
    font-size: 2.3rem;
    line-height: 1.3;
    color: var(--primary-color1);
    text-align: right;
    margin-left:2.8rem;
}
.hr1{
    height: 1px;
    background:var(--primary-color1);
    margin:0;
    border:0;
}
.hr2{
    display: block;
    text-align: center;
    padding-bottom: 2px;
    background:var(--primary-color1);
    width:30.9rem;
    border:0;

}
.menub{
    display: block;
    margin-left: auto;
    margin-right:2.8rem;
    background: none;
    border-width: 0;
    display: block;
    margin-right: 1rem;
    padding:0;




}

.section1 {
    margin-left:2.8rem;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 0.88;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--primary-color);
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.buttonstart {
    border-radius:9rem;
    font-size: 2rem;
    line-height: 1.5;
    background: var(--primary-color);
    color: var(--primary-color1);
    text-align: center;
    
    margin-left: 2.8rem;
    padding:.7em;
    
}

.scrolldown {
    font-size: 1.6rem;
    line-height: 1.88;
    color: var(--primary-color1);
    writing-mode: vertical-rl;
    margin-left:0;
}
.hrofscroll{
    writing-mode: vertical-rl;
    color: var(--primary-color1);
    width: .1rem;
    height: 7.5rem;
    margin-left: 1.3rem;
    border: 0;
    background-color: var(--primary-color1);
}

.cookies {
    font-size: 1rem;
    line-height: 1.4;
    color: var(--primary-color);
    text-align: center;
    margin-left: 11.8rem;
}


.buttonaccept {
    font-size: 3rem;
    line-height: 0.466;

    color: var(--primary-color);
    background: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-width: 0;
}

.underaccept {
    font-size: 4rem;
    line-height: 0.75;
    color: var(--primary-color1); 
    text-align: center;

}
.sect2Div{
display: block;
text-align: center;
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(20px);
border-radius: 2rem;
width: 14.044rem;

}

.section2devfooter {
    margin: 0;
    
    font-size: 1.4rem;
    line-height: 2.14;
    text-align: left;
    color: var(--primary-color1);
}

.section2Dev{
    margin-left:6.38rem;
    font-size: 1.4rem;
    line-height: 2.14;
    text-align: left;
    color: var(--primary-color1);
  

}
.section2h3R {
    margin-right:2.8rem;

    font-size: 1.4rem;
    line-height: 2.14;
    text-align: right;
    color: var(--primary-color);
}

.section2h3 {
    margin-left:2.8rem;
    font-size: 1.4rem;
    line-height: 1.285;
    color: var(--primary-color);
}

.indevelop {
    font-size: 1.1rem;
    line-height: 1.636;
    text-align: left;
    color: var(--primary-color1);
}

.insection2 {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: left;
    color: var(--primary-color);
}

.insection2R {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: right;
    color: var(--primary-color);
}

.section3h2 {

    font-size: 3.5rem;
    text-align: left;
    line-height: 0.4;
    color: var(--primary-color1);
    margin-left: 2.8rem;

}
.section3h2R {
    font-size: 3.5rem;
    text-align: right;
    line-height: 0.4;
    color: var(--primary-color1);
    margin-right: 2.8rem ;

}


.insectoin3 {
    font-size: 1.8rem;
    line-height: 1.11;
    color: var(--primary-color1);
    text-align: left;
    margin-left: 2.8rem;
}
.insectoin3R {
    font-size: 1.8rem;
    line-height: 1.11;
    color: var(--primary-color1);
    text-align: right;
    margin-right: 2.8rem;
}
.section4 {
    font-size: 3.5rem;
    line-height: 0.857;
    color: var(--primary-color1);
    text-align: center;
}

.insection4 {
    display:block;
    box-sizing: border-box;
    padding-top: 5px;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
    margin-top : 5rem;
    margin-left: auto;
    margin-right: auto;
    background-color: ;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 1.5rem;   
    width: 31.873rem;
    height: 28.299rem;   
}
.insection4pt2{
    font-size: 2.5rem;
    line-height: 1.5;
    text-align: center;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}


.section5 {
    font-size: 3.5rem;
    line-height: 1.143;
    text-align: center;
}

.inform {
    font-size: 1.8rem;
    /*line-height: 1.67;*/
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.buttomsend {
    font-size: 2.6rem;
    line-height: 4.7rem;
    background-color: var(--primary-color);
    color: var(--primary-color1);
    border-radius: 9rem;
    text-align: center;
    margin-left: 2.8rem;
    margin-right: 2.8rem;
    min-width:32rem;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}

.infooter {
    text-decoration: none;
    font-size: 2.2rem;
    line-height: 1.364;
    margin:0;

    color: var(--primary-color1);
}

.colorfooter {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    margin:0;
}

.s1{
    margin-right: auto;
    padding-bottom: 140px;

}
.s2{
    margin-right: auto;
    padding-bottom: 115px ;
}
.s3{
    padding-bottom: 107px ;
}
.s4{
    padding-bottom: 172px ;
}
.s5{
    padding-bottom: 154px ;
}

ul{
    margin:0;
    list-style-type: none;
    padding:0;
}
a{
    text-decoration: none;
}
article{
    background-color: ;
    text-align: center;
}

header{
    padding-bottom: 134px;
    width: 100%;
}
h1{
    margin:0;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
}
.inputf{

    border-width: 0;
    border-radius: 9rem;
    padding: 0;
    text-align: left, 3.3rem;  
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: 2.8rem;
    margin-right: 2.8rem;
    padding-left: 1.4rem;
    line-height: 4.7rem;
    min-width:31.65rem;
    box-sizing: border-box;
}

.svg1{
    box-sizing: border-box;
    left: 51.47%;
    right: 41.87%;
}

.svg2{
    box-sizing: border-box;
    left: 69.6%;
    right: 23.73%;
    }

.svg3{
    box-sizing: border-box;
    left: 76.56%;
    right: 17.58%;
}

.img1{
    margin:0;
    background: none;
    display: block;
    border-width: 0;
}



label{
    margin-left: 0;
}

.img4s{
    display: block;
    border-radius:0 0 1.5rem 1.5rem;
}


