:root {
    font-size: 62.5%;
    --primary-color: #000;
    --primary-color1: #fff;
    --primary-color2: #678ff2;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    margin-left: auto;
}

body {
    margin-left: auto;
    background: var(--primary-color2);
}


.cloud {
    font-size: 2.3rem;
    line-height: 1.3;
    color: var(--primary-color1);
    text-align: right;
    margin-left:2.8rem;
}
.hr1{
    height: 1px;
    background:var(--primary-color1);
    margin:0;
    border:0;
}
.hr2{
    display: block;
    text-align: center;
    padding-bottom: 1px;
    background:var(--primary-color1);
    margin-left: 0;
    margin-right: 0;
    border:0;

}
.menub{
    display: block;
    margin-left: auto;
    margin-right:2.8rem;
    background: none;
    border-width: 0;
    display: block;
    margin-right: 1rem;
    padding:0;
}
.cont2{
    display:flex;
    flex-wrap: nowrap;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.section1 {
    margin-left:2.8rem;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 0.88;
    display:flex;
    flex-wrap: wrap;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: var(--primary-color);
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}
.cont3{
    margin-bottom: 15rem;
}
.cont4{
    display: flex;
    flex-wrap: wrap;
}

.buttonstart {
    border-radius:9rem;
    font-size: 2rem;
    line-height: 1.5;
    background: var(--primary-color);
    color: var(--primary-color1);
    text-align: center;
    
    margin-left: 2.8rem;
    padding:.6em;
    
}
.buttonstart2 {
    display: none;
    border-radius:9rem;
    font-size: 2rem;
    line-height: 1.5;
    background: var(--primary-color);
    color: var(--primary-color1);
    text-align: center;
    
    margin-left: 2.8rem;
    padding:.6em;
    
}

.scrolldown {
    font-size: 1.6rem;
    line-height: 1.88;
    color: var(--primary-color1);
    writing-mode: vertical-rl;
    margin-left:0;
    margin-right: 0;
}
.hrofscroll{
    display: block;
    writing-mode: vertical-rl;
    color: var(--primary-color1);
    width: .1rem;
    height: 7.5rem;
    margin-left: 1.3rem;
    border: 0;
    background-color: var(--primary-color1);
    margin-top: 1.5rem;
}
.verticalDiv{
    flex-wrap: wrap;
}
.dove{
    position: absolute;
    bottom: 0;
    left: -15px;
}

.cookies {
    font-size: 1rem;
    line-height: 1.4;
    color: var(--primary-color);
    text-align: left;
    margin-left: 9.8rem;
    padding:1rem;
    margin-bottom: 0;
}


.buttonaccept {
    font-size: 3rem;
    line-height: 0.466;
    color: var(--primary-color);
    background: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-width: 0;
    padding:2rem;
}
.scrollarticle{
    display:flex;
    flex-wrap: nowrap;
    padding-top: 5rem;
    
}

.underaccept {

    font-size: 4rem;
    line-height: 0.75;
    color: var(--primary-color1); 
    text-align: center;

}
.sect2Div{
display: block;
text-align: center;
background: rgba(255, 255, 255, 0.1);
backdrop-filter: blur(20px);
border-radius: 2rem;
width: 14.044rem;
min-height: 15.25rem;
}
.lineheight{
    line-height: 1.8;
    padding: 1rem;
}
.section2devfooter {
    margin: 0;
    font-size: 1.4rem;
    line-height: 2.14;
    text-align: left;
    color: var(--primary-color1);

}
/* вторая секция*/
.section2Dev{
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--primary-color1);
    margin: 0;

}
.section2h3R {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--primary-color);
}

.section2h3 {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--primary-color);
}
.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2.8rem;
    gap:2.8rem;
    text-align: center;
}

.indevelop {
    margin: 0;
    font-size: 1.1rem;
    line-height: 1.636;
    color: var(--primary-color1);
    padding:1rem;
}

.insection2 {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;
    color: var(--primary-color);
    padding:1rem;
}

.insection2R {
    margin: 0;
    font-size: 1.2rem;
    line-height: 1.5;;
    color: var(--primary-color);
    padding:1rem;
}
/* уже третья секция*/
.section3h2 {

    font-size: 3.5rem;
    text-align: left;
    line-height: 1.4;
    color: var(--primary-color1);
    margin-left: 2.8rem;

}
.section3h2R {
    font-size: 3.5rem;
    text-align: right;
    line-height: 1.4;
    color: var(--primary-color1);
    margin-right: 2.8rem ;

}


.insectoin3 {
    font-size: 1.8rem;
    line-height: 1.11;
    color: var(--primary-color1);
    text-align: left;
    margin-left: 2.8rem;
    margin-right: .5rem;
}
.insectoin3R {
    font-size: 1.8rem;
    line-height: 1.11;
    color: var(--primary-color1);
    text-align: right;
    margin-right: 2.8rem;
    margin-left: .5rem;
}
.comp{
    display: block;
    margin-left: auto;
}
.comp2{
    visibility: hidden;
}
.cactus{
    display: block;
    margin-left: auto;
}
/* четвертая секция*/
.section4 {
    font-size: 3.5rem;
    line-height: 0.857;
    color: var(--primary-color1);
    text-align: center;
}
.T{
    font-size: 3.5rem;
    line-height: 0.857;
    color: var(--primary-color1);
    text-align: center;
    margin-bottom: 8rem;
}

.insection4 {
    display:block;
    box-sizing: border-box;
    padding-top: 5px;
    font-size: 2.5rem;
    line-height: 1;
    text-align: center;
    margin-top : 5rem;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 1.5rem;   
    width: 31.873rem;
    min-height: 25rem;   
    padding-top: 2rem;
    color: var(--primary-color1);
}
.cont5{
    display:flex;
    flex-direction: column;

}
.artf{
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 0;
    margin-bottom: 0;

}
.artf1{
    padding-left: 4rem;
    padding-right: 4rem;
    margin-top: 0;
    margin-bottom: 0;

}
.div5s{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 2.8rem;
    margin-right: 2.8rem;
    margin-left: 2.8rem;
    margin-right: 2.8rem;
    justify-content: center;

}

/* пятая секция */
.section5 {
    font-size: 3.5rem;
    line-height: 1.143;
    text-align: center;
}

.inform {
    font-size: 1.8rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.buttomsend {
    font-size: 2.6rem;
    line-height: 4.7rem;
    background-color: var(--primary-color);
    color: var(--primary-color1);
    border-radius: 9rem;
    text-align: center;
    margin-left: 2.8rem;
    margin-right: 2.8rem;
    min-width:32rem;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}

.infooter {
    text-decoration: none;
    font-size: 2.2rem;
    line-height: 1.364;
    color: var(--primary-color1);
}
.infooter1 {
    text-decoration: none;
    font-size: 2.2rem;
    line-height: 1.364;
    color: var(--primary-color1);
    margin-left: 5rem;
}


.colorfooter {
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    margin:0;
    padding: 2.8rem;
}
.divfooter{
    display: flex;
    flex-wrap: nowrap;
}

.s1{
    background-image: url(/img/Cloud-transformed.png);
    background-repeat: no-repeat;
    margin-right: auto;
    padding-bottom: 100px;

}
.s2{
    margin-right: auto;
    padding-bottom: 115px ;
}
.s3{
    padding-bottom: 107px ;
}
.s4{
    padding-bottom: 172px ;
}
.s5{
    padding-bottom: 15px ;
}

ul{
    margin:0;
    list-style-type: none;
    padding:0;
}
a{
    text-decoration: none;
}
article{
    text-align: center;
    
    margin-right: 2.8rem;
    margin-top: 10rem;
    margin-left: 2.8rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    max-width: 72.1rem;
}

header{
    padding-bottom: 134px;
    width: 100%;
}
h1{
    display: none;
    margin:0;
}
h2{
    margin-top: 0;
    margin-bottom: 0;
}
blockquote{

    margin-left:4rem;
    font-size: 1.4rem;

    color: var(--primary-color1);
}
.inputf{

    border-width: 0;
    border-radius: 9rem;
    padding: 0;
    text-align: left, 3.3rem;  
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: 2.8rem;
    margin-right: 2.8rem;
    padding-left: 1.4rem;
    line-height: 4.7rem;
    min-width:31.65rem;
    box-sizing: border-box;
    resize: none;
}

.divinta{

    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 2rem;
}

.svg1{
    margin-right: 1.4rem;
    margin-left: 15rem;
}

.svg2{
    margin-right: 1.4rem;
    margin-left: 5rem;
}

.svg3{
    margin-right: 1.4rem;
    margin-left: auto;
}
.img1{
    margin:0;
    background: none;
    display: block;
    border-width: 0;
    margin-right: auto;
}
.img2{
    margin:0;
    background: none;
    display: block;
    border-width: 0;
    margin-left: auto;
}


label{
    margin-left: 0;
}

.img4s{
    padding-top: 1rem;
    display: block;
    border-radius:0 0 1.5rem 1.5rem;
}
.img5s{
    width:3rem;
    display: block;
    border-radius:1.5rem 1.5rem 1.5rem 1.5rem;
    margin-left: 3.2rem;
}
.inputradio{

    transform: matrix(1, 0, 0, -1, 0, 0);
    margin:.2rem;
    gap: 3rem;
}
.h2hibe{
    display: none;
}
.svgg{
    padding-top: 1rem;
}
.hrDeks{
    display:none;
}
.hrDeks3{
    display:none;
}
.covid{
    display:none;

}
.Amenu{
    display:none;
}
.planet{
    display:none;
}
.divfF{
    display:none;
}
.comp2{
    display:none;
}
.cloud1{
    background-image: url(/img/Cloud-transformed.png);
}
.cloud3{
    display: block;
    margin-left: auto;
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-right:0;
}
.phone2{
    display:none;
}
.headerfrm{
    padding-bottom: 4rem;
}

/* -----------------------------------------FORM--------------------------------- */

.inptr{
    
    border-width: 0;
    border-radius: 9rem;
    padding: 0;
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right:auto;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    line-height: 4.7rem;
    min-width:28rem;
}
.pform{
    font-size: 2rem;
    line-height: 1.5;
    color: var(--primary-color1);
    margin-top: 0;
    margin-bottom: 0;
}
fieldset{
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--primary-color1);
}
legend{
    font-size: 3rem;
    color: var(--primary-color1);
}
.gender{
    font-size: 2rem;
    color: var(--primary-color1);
}
.divgender{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 3rem;
    line-height: .1rem;
}
.formbuts{
    font-size: 2.6rem;
    line-height: 4.7rem;
    background-color: var(--primary-color);
    color: var(--primary-color1);
    border-radius: 9rem;
    text-align: center;
    min-width:14rem;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}
.divbuts{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
}
/* ============================================================================= */
/*--------------------------------------4 LABA---------------------------------- */


@media (min-width:425px) {
    .conteiner{
        gap:3.5rem;
    }
    
}
/* -------------------------------------768------------------------------------- */
@media (min-width:768px) {
    .section1{
        margin-left:3.8rem;
        font-size: 6rem;
        line-height: 1;
    }
    .buttonstart{
        margin-left: 3.8rem;
    }
    article{
        margin-left: 3.8rem;
        margin-right: 3.8rem;
    }
    .underaccept{
        padding-bottom: 2rem;
    }
    .sect2Div{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .conteiner{
        gap:5rem;
    }
    .section3h2{
        margin-left: 3.8rem;
    }
    .section3h2R{
        margin-right: 3.8rem;
    }
    .insectoin3{
        margin-right: 20rem;
        margin-left: 3.8rem;
    }
    .insectoin3R{
        margin-left: 20rem;
        margin-right: 3.8rem;
    }
    .contT{
        
        display: flex;
        flex-direction: column;
        background: rgba(255, 255, 255, 0.15);
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        border-radius: 20px;
        max-width:50rem ;
        margin-left: auto;
        margin-right: auto;

    }

    blockquote{
            padding:1rem;
            margin-left: 0;
            margin-right: 0;
    }
    .inputf{
        min-width: 45rem;
    }
    .buttomsend{
        min-width:45rem;
    }

}

/* -------------------------------------1024------------------------------------- */
@media (min-width:1024px) {
    .hrDeks{
        display: flex;
        writing-mode: vertical-rl;
        color: var(--primary-color1);
        width: .1rem;
        height: 3.99rem;
        border: 0;
        background-color: var(--primary-color1);
    }
    .hrDeks3{
        display: flex;
        writing-mode: vertical-rl;
        color: var(--primary-color1);
        width: .1rem;
        height: 3.99rem;
        border: 0;
        background-color: var(--primary-color1);
        
    }
    .covid{
        display: flex;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 1.875;
        color: var(--primary-color1);
    }
    .cloud {
        display: flex;
        text-align: right;
        margin-left:2.8rem;
        margin-right: 2.8rem;
    }
    .menub{
        display: none;
    }
    .cont2{
        display:flex;
        flex-wrap: nowrap;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(20px);
        align-items: center; 
        padding-top: 0;
        padding-bottom: 0;
    }
    .conthead{
        display: flex;
        gap: 1rem;
        margin-left: 23rem;
        margin-right: auto;

    }
    .Amenu{
        visibility: visible;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 1.4;
        color: var(--primary-color1);
        margin-left: 9.4rem ;
    }
    .planet{
        visibility: visible;
    }
    .buttonstart {
        display: none;
  
        
    }
    .buttonstart2 {
        display: flex;

    }
    .cont7{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
    }
    .artdiv{
        display: flex;
        flex-wrap: nowrap;
    }
    .hr2{

        writing-mode: vertical-rl;
        width:1px;
        min-height: 6.8rem;
    
    }
    article{

       
        margin-right: auto;
        margin-top: 10rem;
        margin-left: auto;
        max-width: 72.1rem;
    }
    .conteiner{
        gap:8rem;
        margin:3.8rem;
        margin-left: 5rem;
        margin-right: 5rem;
    }
    .sect2Div{
        margin-left: 2rem ;
        margin-right: 2rem;
    }
    .insection4{
        display: flex;
        flex-wrap: wrap;
    }
    .div3{
        display: flex;
        flex-wrap: nowrap;
        gap:1rem;
        justify-content: center;
    }
    .div5s{
        gap: 1rem;
    }
    .img2{
        margin-left: 15rem;
    }
    .img1{
        margin-right: 15rem;
    }
    .inputf{
        min-width: 60rem;
    }
    .buttomsend{
        min-width:60rem;
    }
    .divinta{
        visibility: hidden;
    }
    .divF{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .divA{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .divAAA{
        display: flex;
        flex-wrap: nowrap;
        gap:5rem
    }
    .svg3{
        margin:0;
    }
    .svg2{
        margin:0;
        
    }
    .svg1{
        margin:0;
        padding-left: 40rem ;
    }
    .divfF{
        visibility: visible;
    }

}


/* ------------------------------------1444------------------------------------ */


@media (min-width:1440px){
    .menub{
        display: none;
    }
    .cont2{
        max-width: 1500px;
    }
    .conthead{
        margin-right: 1.4rem;
        margin-left:70rem;
    }
    .section1{
        font-weight: 700;
        font-size: 12rem;
        line-height: 1.5;
        text-shadow: 0px 12px 10px rgb(0 0 0 / 25%);
    }
    .cont4{
        justify-content: center;
        }
    .buttonstart2{
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 1.5;
    }
    .conteiner{
        align-items: stretch;
        flex-direction: row-reverse;
        margin-left:30rem ;
        margin-right:30rem ;
        gap:5rem;
    }
    .section2Dev{
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 30px;
    }
    .lineheight{
    font-size: 1.6rem;
    line-height: 18px;
    margin:0;
    }
    .sect2Div{
        min-width: 16.044rem;
        margin-left: 4rem;
        margin-right: 4rem ;
    }
    .section2h3R{
        font-size: 1.8rem;
        line-height: 30px;
        }
    .insection2R{
        font-size: 1.6rem;
        line-height: 18px;
    }
    .section2h3{
        font-size: 1.8rem;
        line-height: 30px;
    }
    .insection2{
        font-size: 1.6rem;
        line-height: 18px;
    }
    .divhz{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .divscrol{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .underaccept{
        margin-left: auto;
        margin-right: auto;
    }
    .cookies{
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 14px;
        margin-top: 0;
    }
    .section3h2{
        margin-left: 14rem;
        margin-bottom: 4rem;
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 24px;
    }
    .section3h2R{
        margin-right: 14rem;
        margin-bottom: 4rem;
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 24px;
    }
    .comp{
        visibility: hidden;
    }
    .comp2{
        visibility: visible;
    }
    .insectoin3{
        margin-left: 14rem;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 30px;
    }
    .insectoin3R{
        margin-right: 14rem;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 30px;
    }
    .section4{
        font-weight: 400;
        font-size: 6rem;
        line-height: 30px;
    }
    .div3{
        gap: 7rem;
        margin-top: 5rem;
    }
    .T{
        font-weight: 400;
        font-size: 6rem;
        line-height: 30px;
    }
    blockquote{

        font-weight: 400;
        font-size: 2.2rem;
        line-height: 26px;
    }
    .svg1{
        margin-right: 0;
    }
    .div5s{
        margin-top: 5rem;
    }
    .img5s{
        padding-top: 2rem;
        width: 5rem;
    }
    .Amenu{
        display:flex;
    }
    .planet{
        display:flex;
    }
    .divfF{
        display:flex;
    }
    .comp2{
        display: flex;
    }
    .s1{
        background-size: 1400px;
    }
    .comp{
        display: none;
    }
    .divTEXT{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .divforimg3sect{
        display: flex;
        flex-direction: row;
    }
    .divforimg3sectR{
        display: flex;
        flex-direction: row-reverse;
    }
    .insectoin3{
        margin-right: 0;
    }
    .comp2{
        width:700px;
    }
    .cactus{
        width:700px;
    }
    .phone{
        display:none;
    }
    .phone2{
        display:flex;
        width: 700px;
    }
    .insectoin3R{
        margin-left:0;
    }
    .cloud2{
        width: 400px;
    }
    .cloud3{
        width: 350px;
    }
}




/*--------------------------------------------1920---------------------------*/
@media (min-width:1920px){
    .menub{
        display: none;
    }
    .cont2{
        max-width: 2560px;
    }
    .conthead{
        margin-right: auto;
        margin-left: 119rem;
    }
    .section1{
        font-weight: 700;
        font-size: 12rem;
        line-height: 1.5;
    }
    .cont4{
        justify-content: center;
        }
    .buttonstart2{
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 1.5;
    }
    .conteiner{
        align-items: stretch;
        flex-direction: row-reverse;
        margin-left:50rem ;
        margin-right:50rem ;
        gap:5rem;
    }
    .section2Dev{
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 30px;
    }
    .lineheight{
    font-size: 1.6rem;
    line-height: 18px;
    margin:0;
    }
    .sect2Div{
        min-width: 16.044rem;
        margin-left: 4rem;
        margin-right: 4rem ;
    }
    .section2h3R{
        font-size: 1.8rem;
        line-height: 30px;
        }
    .insection2R{
        font-size: 1.6rem;
        line-height: 18px;
    }
    .section2h3{
        font-size: 1.8rem;
        line-height: 30px;
    }
    .insection2{
        font-size: 1.6rem;
        line-height: 18px;
    }
    .divhz{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .divscrol{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .underaccept{
        font-size: 6rem;
        margin-left: auto;
        margin-right: auto;
    }
    .cookies{
        font-weight: 500;
        font-size: 1.4rem;
        line-height: 14px;
        margin-top: 0;
    }
    .section3h2{
        margin-left: 14rem;
        margin-bottom: 4rem;
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 24px;
    }
    .section3h2R{
        margin-right: 14rem;
        margin-bottom: 4rem;
        font-weight: 400;
        font-size: 4.5rem;
        line-height: 24px;
    }
    .comp{
        visibility: hidden;
    }
    .comp2{
        visibility: visible;
    }
    .insectoin3{
        margin-left: 14rem;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 30px;
    }
    .insectoin3R{
        margin-right: 14rem;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 30px;
    }
    .section4{
        font-weight: 400;
        font-size: 6rem;
        line-height: 30px;
    }
    .div3{
        gap: 7rem;
        margin-top: 5rem;
    }
    .T{
        font-weight: 400;
        font-size: 6rem;
        line-height: 30px;
    }
    blockquote{

        font-weight: 400;
        font-size: 2.2rem;
        line-height: 26px;
    }
    .svg1{
        margin-right: 0;
    }
    .div5s{
        margin-top: 5rem;
    }
    .img5s{
        padding-top: 2rem;
        width: 5rem;
    }
    .Amenu{
        display:flex;
    }
    .planet{
        display:flex;
    }
    .divfF{
        display:flex;
    }
    .comp2{
        display: flex;
    }
    /* .wrapper {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    } */
    .divA{
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    .s1{
        max-width: 1470px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
}

/*-------------------------------2560---------------------------------*/
@media (min-width:2560px) {
    .cont2{
        max-width: 2612px;
    }
    .conthead{
        margin-left: 183rem;
    }

    .s2{
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    .s3{
        max-width: 1470px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    .conteiner{
        margin-left:10rem ;
        margin-right:10rem ;
    }


    .inptr{
        font-size: 3rem;
        border: 2px solid rgba(0, 0, 0, 0.5);
        line-height: 9.4rem;
        min-width:56rem;
    }
    .pform{
        font-size: 4rem;
    }
    fieldset{
        max-width: 640px;
    }
    legend{
        font-size: 6rem;
    }
    .gender{
        font-size: 4rem;

    }
    .divgender{
        gap: 6rem;
        line-height: .2rem;
    }
    .formbuts{
        font-size: 5.2rem;
        line-height: 9.4rem;
        min-width: 28rem;
    }
    .divbuts{
        gap: 10rem;
        padding: 4rem;
    }

}

